<p-toast></p-toast>

<div class="card">
  <p-table [value]="products" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <div class="card">
        <div class="flex justify-content-center flex-wrap card-container">
          <p-calendar [(ngModel)]="date" [showIcon]="true" dataType="string" dateFormat="mm-dd-yy" [showButtonBar]="true" [defaultDate]="defaultDate"></p-calendar>
          <p-button label="SORGULA" (click)="getDayProduct()"></p-button>
        </div>
      </div>
    </ng-template>
    <div class="card">
      <div class="flex justify-content-center flex-wrap card-container">
        <p-calendar (onSelect)="dateSelected($event)" [(ngModel)]="date" dateFormat="mm-dd-yy" [showIcon]="true"></p-calendar>
        <p-button label="SORGULA" class="ml-3"></p-button>
      </div>
    </div>
    <ng-template pTemplate="header">
      <tr>
        <th>MALZEME</th>
        <th>KULLANILAN MİKTAR</th>
        <th>FARK</th>
        <th>YENİ MİKTAR</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.usedQuantity }}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.difference" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.difference }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{ newQuantity(product.usedQuantity, product.difference) }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="card">
        <div class="flex justify-content-center flex-wrap card-container">
          <p-button label="KAYDET" (click)="save()"></p-button>
        </div>
      </div>
    </ng-template>
  </p-table>
</div>
